.container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    max-width: 900px;

    > span {
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        align-items: center;

        img {
            margin-right: 1rem;
        }
    }

    h1 {
        margin-top: 1rem;
        font-size: 4rem;
        font-weight: 900;
        color: var(--blue-500);
    }

    p {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: normal;

        span {
            color: var(--orange-100);
            font-weight: 700;
        }
    }

    button {
        margin-top: 1.5rem;
        height: 3.375rem;
        border-radius: 1rem;
        background: var(--orange-300);
        box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.5);
        border: 0;
        padding: 0 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #FFF8F3;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
// Hero animation

.lorem {
    z-index: -999;
    max-width: 720px;
    display: grid;
    grid-template-columns: .1fr 1fr;
    img {
        &:first-child {
            animation: bg-hero-0 4s 2s ease infinite alternate;
            
        }
        &:last-child {
            animation: bg-hero-1 5s 3s ease infinite alternate;
        }
    }
}

@keyframes bg-hero-0{
    0% {
        transform: translate3d(0,25px,0);
    }
    100%{
        transform: translate3d(0,75px,0);
    }
}
@keyframes bg-hero-1{
    0% {
        transform: translate3d(0,-80px,0);
    }
    100%{
        transform: translate3d(0,25px,0);
    }
}