.container {
    margin-bottom: 2rem;
}

.content {
    max-width: 1200px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


    nav {
        border: 2px solid blue;
        margin-left: 25rem;
        height: 5rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            color: var(--blue-100);
            font-size: 1.5rem;
            font-weight: bold;

            & + a {
                margin-left: 1.5rem;
            }

            // &:hover {
            //     color: var(--);
            // }
        }
    }

   
}