.container {
    height: 5rem;
    margin-bottom: 2rem;
}

.content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0.5rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        padding: 0rem .3rem;
        &:hover {
            color: var(--orange-300);

            transition: .2s ease;
        }
        
    } 

    @media screen and (max-width: 768px) {
        nav {
            display: none;
        }
    }
}

.active {
    color: var(--orange-300);
}