.container {
    height: 5rem;
    margin-bottom: 2rem;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        li {
            padding: .5rem .5rem;
            list-style: none;
        }
    }
    a {
        padding: 0rem .3rem;
        &:hover {
            color: #FF6C0E;

            transition: .4s ease;
        }
        
    } 
}